<nav class="navbar-top navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-top-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url() }}" title="{{ t('app@app_name') }}">
                <img height="20" src="{{ theme_logo_url() }}" alt="Logo">
            </a>
            <a href="{{ base_url() }}" class="navbar-brand">{{ t('app@app_name') }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-top-collapse">
            <ul class="nav navbar-nav">
                {% for section in content_sections() %}
                    {% if loop.index < 10 %}
                        {{ nav_link(ep_url('article_index_by_section', {'term_alias': section.alias}), section.title) }}
                    {% endif %}
                {% endfor %}
            </ul>

            {{ theme_blog_default.language_nav() }}
        </div>
    </div>
</nav>
