<!DOCTYPE html>
<html lang="{{ current_lang() }}">

<head>
    {% block metatags %} {{ metatags() }} {% endblock %}
    {% block css_links %} {{ css_links() }} {% endblock %}
</head>

<body class="application">

{% include 'parts/header' %}

<div id="page" class="container">
    {% include 'parts/messages' %}

    <div class="row">
        <div id="content" class="{% if sidebar %}col-md-8{% else %}col-xs-12{% endif %}">
            <div class="inner">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% if sidebar %}
            <aside id="sidebar" class="col col-md-4">
                <div class="inner">
                    {% block sidebar %}
                        {% include 'parts/sidebar' %}
                    {% endblock %}
                </div>
            </aside>
        {% endif %}
    </div>
</div>

{% include 'parts/footer' %}

{% block js_links %} {{ js_links() }} {% endblock %}
{% block inline_js %} {{ inline_js() }} {% endblock %}

</body>
</html>
